@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/*main button style*/

.main-buttons-container{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

.General-Controls{
  display: grid;
  grid-template-columns: 12rem 12rem;
  width: 87%;
  justify-content: space-between;
  grid-gap: 0px;
  margin-top: 1rem;
}

#macroControls{
  margin-left: -114px;
}

.stop{
  cursor: pointer;
  border: 0.5rem;
  width: 6rem;
  height: 3rem;
  background-image: url('./../img/myPause.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #dff8f800;
}

.stop:hover{
  background-color: #7df8f834;
}

.start-context{
  cursor: pointer;
  border: 0.5rem;
  width: 6rem;
  height: 3rem;
  background-image: url('./../img/myPlay2.png');
  background-color: #dff8f800;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  color: #fafafa;
}

.start-context:hover{
  background-color: #7df8f834;
}t:hover{
  background-color: #7df8f834;
}

.save-button {
  cursor: pointer;
  border: 0.5rem;
  width: 6rem;
  height: 3rem;
  background-image: url('./../img/saveIcon.png');
  background-color: #dff8f800;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  color: #fafafa;
}

.save-button:hover{
  background-color: #7df8f834;
}

/* base styles */

:root {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(169, 212, 212);
  background: linear-gradient(to right, #000000, #1b0415);
}

h1{
  text-align: center;

}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;

}
.navbar .links {
  margin-left: auto;

}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-size: x-large;
  color: rgb(169, 212, 212);
}
.navbar a:hover {
  color: #f1356d;
}

.SideBar {
  padding: 20px;
  display: -moz-stack;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.SideBar h1 {
  color: #f1356d;
}

.SideBar .home-links {
  margin-left: auto;
  color: #f1356d; 
  border-radius: 8px; 
  font-size: larger;
  font-weight: 600;
  background-color: linear-gradient(to right, #292E49, #536976);
}

.SideBar a {
  margin-left: 60px;
  text-decoration: none;
  padding: 10px;
  color: rgb(136, 209, 209);
}

.SideBar a:hover {
  color: #f1356d;
}

.content {
  max-width: 1188px;
  margin: 30px auto;
  padding: 10px;
  width: 100%;
}

.euclidean-sequencer{
 height: 76rem; 
}

/* blog previews / list */

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}


/* blog details page */

.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*Controls*/

.elemento-base{
  height: 24.5rem;
}

.pattern-controls-list{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 55px;
  margin-top: 2.5rem;
 }

.pattern-controls{
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.8rem;
}

.macro-controls{
  width: 235%;
  margin-left: -7rem;
}
.tempo-controls{
width:235%;}



/*style of sliders */


input[type=range] {
  width: 10%;
  margin: 8px 0;

  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: var(--c);
  border: 0.1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  display: flex;
  width: 100%;
  height: 4px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -6px;
  width: 15px;
  height: 15px;
  display: flex;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 100%;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--c);
}

element.style {
display: flex;
}

input[type=range]::-moz-range-track {
  background: var(--c);
  border: 0.1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  display: flex;
  width: 100%;
  height: 4px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2.7px solid #000000;
  border-radius: 50px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 19.8px 0;
  
  color: transparent;
  width: 100%;
  height: 4px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: var(--c);
  border: 0.1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}

input[type=range]::-ms-fill-upper {
  background: var(c);
  border: 0.1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}

input[type=range]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2.7px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
}

input[type=range]:focus::-ms-fill-lower {
  background: var(--c);
}

input[type=range]:focus::-ms-fill-upper {
  background: var(c);
}

@supports (-ms-ime-align:auto) {
  input[type=range] {
    margin: 0;
  }
}

.slider-pattern{
  justify-content: space-between;
  display: grid;
  margin-left: 0%;
  width: 100%;
  margin-bottom: -3px;
}

.slider-base {
  justify-content: space-between;
  display:flex;
  width: 100%;
  margin-bottom: 5px;
}

.slider-base>input[type=range]{
  width: 56%;
}

.slider-pattern>input[type=range]{
  width: 189%;
}


/* create new blog form */

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.environment{
  width:100%;
}

/*Pattern Controls*/

.circle-container {
  position: relative;
  top: 8rem;
}


.other-controls{
  display: flex;
  width:35rem;
}

/*tempo-modifier style*/

.tempo-modifier{
  display: flex;
  width: 20rem;
  margin-left: 3.7rem;
  margin-top: 116px;
}

h4{
  margin-left: 12.5rem;
  }

/*mute/solo buttons*/

.mute_solo{
  display: -webkit-inline-box;
}
.mute-button{
  cursor: pointer;
  width: 40px;
  height: 30px;
  margin-top: 20px;
  background-image: url('./../img/mute-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  border: 0.5rem;

}

.mute-button:hover{
  background-color: #7df8f834;
}

.solo-button{
  cursor: pointer;
  width: 40px;
  height: 30px;
  margin-top: 20px;
  background-image: url('./../img/solo-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  border: 0.5rem;
  
}

.solo-button:hover{
  background-color: #7df8f834;
}

.active{
  
  background-color:rgb(241, 53, 109);
}

.active:hover{

  background-color: rgb(247, 115, 155);;
}

.inactive{
  background-color: #dff8f800;
  
  
}

/* x2 /2 buttons style*/

.per-due{
  cursor: pointer;
  width: 40px;
  height: 30px;
  margin-top: 15px;
  margin-left: -24px;
  background-image: url('./../img/per-due.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.diviso-due{
  cursor: pointer;
  width: 40px;
  height: 30px;
  margin-top: 15px;
  background-image: url('./../img/diviso-due.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #dff8f800;
}

.Limit_up{
  filter:opacity(60%);
}

.Limit_down{
  filter: opacity(60%);
}





.env-header {
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

label {
  font-weight: 250;
}

a{
  font-weight: 400;
}








