@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/*main button style*/

.main-buttons-container{
  display: flex;
  justify-content: center;
  text-align: center;
}

.General-Controls{
  display: grid;
  grid-template-columns: 12rem 12rem;
  width: 88%;
  justify-content: space-between;
  grid-gap: 0px;
  margin-top: 1rem;
}

#macroControls{
  margin-left: -114px;
}

.stop{
  width: 6rem;
  height: 3rem;
  margin-top: 20px;
  background-image: url('./../img/myPause.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.changeMode{
  width: 6rem;
  height: 3rem;
  margin-top: 20px;
  background-image: url('./../img/change.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: center;
}

.start-context{
  width: 6rem;
  height: 3rem;
  margin-top: 20px;
  background-image: url('./../img/myPlay2.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
}

/* base styles */
:root {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(169, 212, 212);
  background: linear-gradient(to right, #08090e, #27333a);
  
  
  /* opacity: 0.3; */
  
}

h1{
  text-align: center;
}
h4{
margin-left: 2rem;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;

}
.navbar .links {
  margin-left: auto;

}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-size: x-large;
  color: rgb(169, 212, 212);
}
.navbar a:hover {
  color: #f1356d;
}

.SideBar {
  padding: 20px;
  display: -moz-stack;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.SideBar h1 {
  color: #f1356d;
}
.SideBar .home-links {
  margin-left: auto;
  color: #f1356d; 
  border-radius: 8px; 
  font-size: larger;
  font-weight: 600;
  background-color: linear-gradient(to right, #292E49, #536976);


}
.SideBar a {
  margin-left: 40px;
  text-decoration: none;
  padding: 10px;
  color: rgb(136, 209, 209);

}
.SideBar a:hover {
  color: #f1356d;
}
.content {
  max-width: 1000px;
  margin: 30px auto;
  padding: 10px;
  width: 100%;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}


/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.pattern-controls-list{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 40px;
  margin-top: 1.5rem;
 }
/*style of sliders */

/*.slider-base{
  justify-content: space-between;
  display: flex;
  width: 150%;
  margin-bottom: 10px;
  /*margin:1rem;
}*/
.slider-base {
    justify-content: space-between;
    display:flex;
    width: 100%;
    margin-bottom: 5px;
}

.macro-controls{
    width: 220%;
    margin-left: -7rem;
}
.tempo-controls{
  width:220%;}


.slider-pattern{
  justify-content: space-between;
  display: flex;
  margin-left: 0%;
  width: 58%;
  margin-bottom: 3px;
}


.slider-base>input[type=range]{
  width: 56%;
}

.slider-pattern>input[type=range]{
  width: 60%;
}




/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}



.circle-container {
  position: relative;
  top: 8rem;
}

.environment{
  width:100%;
}


/*mute/solo buttons*/

.mute_solo{
  display: -webkit-inline-box;
}
.mute-button{
  width: 40px;
  height: 30px;
  margin-top: 10px;
  background-image: url('./../img/mute-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.solo-button{
  width: 40px;
  height: 30px;
  margin-top: 10px;
  background-image: url('./../img/solo-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.active{
  background-color: rgb(88, 205, 209);
}

.inactive{
  background-color:white;
}

/*.elemento-base{
  margin: 1rem;
}

 .euclidean-sequencer{
  background-color: rgba(19, 14, 14, 0.8);
  padding: 3rem;
  border: 2rem;
  
  
}

.india{
  background-image: url('./../img/india.jpeg');
  background-attachment: fixed;
  background-position: auto ;
  background-repeat:no-repeat;

  background-size:cover;
  background-size:100% 230%;
  
}



.middleEast{
  background-image: url('./../img/middleEast.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat:no-repeat;

  background-size:cover;
  background-size:100% 230%;
} */






