input[type=range] {
    width: 10%;
    margin: 8px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #f1356d;
    border: 0.1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    width: 100%;
    height: 4px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -8.1px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2.7px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #f1356d;
  }
  input[type=range]::-moz-range-track {
    background: #f1356d;
    border: 0.1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    width: 100%;
    height: 4px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2.7px solid #000000;
    border-radius: 50px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 19.8px 0;
    color: transparent;
    width: 100%;
    height: 4px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #f1356d;
    border: 0.1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
  }
  input[type=range]::-ms-fill-upper {
    background: #f1356d;
    border: 0.1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
  }
  input[type=range]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2.7px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #f1356d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #f1356d;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
  